h1
    | Scores

form
    | First Player Scores:
    br
    br
    input(type="text"  value=0)
    br
    br
    | Second Player Scores:
    br
    br
    input(type="text" value=0)
    br
    br
    input#submit(type="Submit" value="Save Result")
